body{
	background-color: #A9A9A9;
	
}

.navbar{
	background-color: #badbad;
	color: white;
	font-family: Tahoma;
	font-size: 28px;
	list-style-type: none;
	text-align: center;
	padding: 2% 0 2% 0;
	margin-top: 0;
}
.navbar > li{
	display: inline-block;
	padding-right: 7%;
	padding-left: 7%;
	padding
}
.navbar > li > a{
	text-decoration: none;
	color: white;
}
.navbar > li > a:hover{
	color: #A9A9A9;
}

#navbuttons{
	opacity: 1.0;
	text-decoration: none;
}
#navbuttons:hover{
	opacity: 0.5;
}
img{
	opacity: 1.0;
}

img:hover{
	opacity: 0.5;
}