body{
	background-color: #A9A9A9;
	
}

.navbar{
	background-color: #badbad;
	color: white;
	font-family: Tahoma;
	font-size: 28px;
	list-style-type: none;
	text-align: center;
	padding: 3% 0 3% 0;
	margin-top: 0;
}
.navbar > li{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
}
.navbar > li > a{
	text-decoration: none;
	color: white;
}
.navbar > li > a:hover{
	color: #A9A9A9;
}

#home{
	clear: left;	
}