body{
	background-color: #CCCCCC;	
}

.navbar{
	background-color: #badbad;
	color: #000000;
	font-family: Tahoma;
	font-size: 28px;
	list-style-type: none;
	text-align: center;
	padding: 3% 0 3% 0;
	margin-top: 0;
}
.navbar > li{
	display: inline-block;
	padding-right: 7%;
	padding-left: 7%;
	padding
}
.navbar > li > a{
	text-decoration: none;
	color: #000000;
}
.navbar > li > a:hover{
	color: #A9A9A9;
}
/*Hover for ikonene i navbar*/
img{
	opacity: 1.0;
}

img:hover{
	opacity: 0.5;
}

h1{
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%; 
}