body{
	background-color: white;	
	font-family: Arial;
	font-size: 100%;
	text-decoration: none;
	color: black;
}

.navbar{
	background-color: #badbad;
	color: #000000;
	list-style-type: none;
	text-align: center;
	padding: 3% 0 3% 0;
	margin: -10px;
	margin-top: 10px;
	border: 0.5px solid black;

}
.navbar > li{
	display: inline-block;
	padding-right: 7%;
	padding-left: 7%;
}
.navbar > li > a{
	text-decoration: none;
	color: #000000;
}
.navbar > li > a:hover{
	color: #A9A9A9;
}
/*Hover for ikonene i navbar*/
img{
	opacity: 1.0;
}

.navbar img:hover{
	opacity: 0.5;
}

/*Solution kort - i box*/
.content>h3{
	border: 2px solid black;
	padding: 20px;
	margin: 0;
	margin-top: 5%;
}

/*alt innhold på siden*/
.content{
	margin-right: 15%;
	margin-left: 15%;
	line-height: 1.5;
}

#survey img{
	border: 1px solid black;
}
/*Tekst innhold i appen*/

#contentoftheapp{
	float: right;
	width: 60%;
	display: inline-block;
}
/*bildene i appen*/
#picturecontent{
	width: 40%;
	display: inline-block;
}
#contact{
	width: 60%;
	display: inline-block;
}
#listwithcontact{
	float: right;
	
}
#listwithcontact > ul > li{
	list-style: none;
	padding-bottom: 50px;
	padding-top: 20px;

}

#listwithpics{
	float: left;
	margin-left: 15%;
}

#probtext{
	margin-top: 5%;
}

.mobnav{
	display: none;
}
#imgSolMob{
	display: none;
}

#homevideo{
	text-align: center;
	
}

#slogan{
	margin-top: 50px;
	text-align: center;
	margin: 50px 50px 30px 50px;
	border: 2px solid black;
}
iframe{
		margin-top: 5%;
<<<<<<< HEAD
=======
		height: 180px;
		width: 300px;
>>>>>>> 66fdc5cc47007e759638abfa9bb27aeaababd16b
	}


@media screen and (max-width: 1030px){
	.mobnav{
		background-color: #badbad;
		display: inline-block;
		text-decoration: none;
		list-style-type: none;
		margin-top: 10px;
		width: 100%;
		height: 200px;
<<<<<<< HEAD
		padding-top: 50px;
=======
>>>>>>> 66fdc5cc47007e759638abfa9bb27aeaababd16b
	}
	.mobnav > li{
		display: inline;
		padding: 4%;
		list-style: none;
<<<<<<< HEAD
		
=======
		padding-top: 10px;
>>>>>>> 66fdc5cc47007e759638abfa9bb27aeaababd16b
	}
	
	.navbar{
		display: none;
	}

	#contentoftheapp{
		display: none;
	}

	#picturescontent img{
		display: none;
	}

	iframe{
		margin-top: 5%;
		height: 180px;
		width: 300px;
	}

	#survey img{
		width: 100%;
	}

	body{
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}

	#technical{
		float: left;
	}
	
	#imgSolMob{
		display: inline-block;
		margin: 5%;
		margin-bottom: 2%;
	}
	.content {
		margin: 5%;
	}

	#contact{
		width: 100%;
	}
	#listwithpics{
<<<<<<< HEAD
		margin-left: 7%;
	}
	#listwithcontact{
		margin-right: 40%;
=======
		margin-left: 20%;
>>>>>>> 66fdc5cc47007e759638abfa9bb27aeaababd16b
	}


}



