body{
	background-color: white;	
	font-family: Arial;
	font-size: 100%;
	text-decoration: none;
	color: black;
}

.navbar{
	background-color: #badbad;
	color: #000000;
	list-style-type: none;
	text-align: center;
	padding: 3% 0 3% 0;
	margin: -10px;
	margin-top: 10px;
	border: 0.5px solid black;

}
.navbar > li{
	display: inline-block;
	padding-right: 7%;
	padding-left: 7%;
	padding
}
.navbar > li > a{
	text-decoration: none;
	color: #000000;
}
.navbar > li > a:hover{
	color: #A9A9A9;
}
/*Hover for ikonene i navbar*/
img{
	opacity: 1.0;
}

.navbar img:hover{
	opacity: 0.5;
}

/*Solution kort - i box*/
.content>h3{
	border: 2px solid black;
	padding: 20px;
	margin: 0;
	margin-top: 5%;
}

/*alt innhold på siden*/
.content{
	margin-right: 15%;
	margin-left: 15%;
	line-height: 1.5;
}

#survey img{
	border: 1px solid black;
}
/*Tekst innhold i appen*/

#contentoftheapp{
	float: right;
	width: 60%;
	display: inline-block;
}
/*bildene i appen*/
#picturecontent{
	width: 40%;
	display: inline-block;
}
#contact{
	width: 50%;
	display: inline-block;
}
#listwithcontact{
	float: right;
}
#listwithcontact > li{
	list-style: none;
	padding-bottom: 40px;
	padding-top: 40px;
}

#listwithpics{
	float: left;
}

#probtext{
	margin-top: 5%;
}

.mobnav{
	display: none;
}
#imgSolMob{
	display: none;
}

#homevideo{
	margin-top: 5%;
}

@media screen and (max-width: 1020px){
	.mobnav{
		background-color: #badbad;
		display: inline-block;
		text-decoration: none;
		list-style-type: none;
		text-align: center;
		margin-top: 10px;
		width: 100%;
	}
	.mobnav > li{
		display: inline-block;
		padding: 3%;
	}
	
	.navbar{
		display: none;
	}

	#contentoftheapp{
		display: none;
	}

	#picturescontent img{
		display: none;
	}

	#homevideo{
		margin-top: 5%;
		height: 180;
		width: 300;
	}

	#survey img{
		width: 100%;
	}

	body{
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}

	#technical{
		float: left;
	}
	
	#imgSolMob{
		display: inline-block;
		margin: 5%;
		margin-bottom: 2%;
	}
	.content {
		margin: 5%;
	}

	#contact{
		width: 100%;
	}


	#listwithpics{
		float: center;	
	}
}



